<div class="container portofolio-container">
    <div class="row">
        <div class="col-md-7 portofolio-image">
            <%= image_tag @portofolio_item.main_image unless @portofolio_item.main_image.nil?%>
        </div>
         <div class="col-md-5">
            <h1><%=  @portofolio_item.title %></h1>
            <hr/>
            <em><%=  @portofolio_item.subtitle %></em>
            <p><%=  @portofolio_item.body %></p>
            <hr/>


            <h3> Techonlogies Used </h3>
            
            <% @portofolio_item.technologies.each do |t|%>
            <p><%= t.name %></p>

            <% end %> 
            
            
        </div>
        
    </div>
    <br/>    
     <%= link_to "Edit", edit_portofolio_path(@portofolio_item.id), class: "btn btn-success" if logged_in?(:site_admin)  %> <br/><br>

</div>

